<!DOCTYPE html>
{% load staticfiles %}
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->

	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Krishi Kalyaan Seva</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet"  href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div id="1" class="main-wrapper-first">
			<div class="hero-area relative">
				<header>
					<div class="container">
						<div class="header-wrap">
							<div class="header-top d-flex justify-content-between align-items-left">
									<nav class="show">
										<a href="#1">Home</a>
										<a href="#2">About</a>
										<a href="#3">Find Us!</a>
									</nav>
									<div class="menu-bar"></div>

							</div>
						</div>
					</div>
				</header>
				<div class="banner-area">
					<div class="container">
						<div class="row justify-content-center">
						<div class="row height align-items-center">
							<div class="col-lg-12">
								<div class="banner-content">
									<h1 class="text-white text-uppercase mb-10" style="  font-size: 40px;">Krishi Kalyan Seva</h1>
									<p class="text-white mb-30" style="  font-size: 30px;">Intelligence to assist farmers.</p>
								</div>
								<select>
   									<option value="Select language">Select language</option>
   									<option value="English">English</option>
 										<option value="Hindi">Hindi</option>
   									<option value="Bengali">Bengali</option>
   									<option value="Marathi">Marathi</option>
 										<option value="Malayalam">Malayalam</option>
 									</select>
									<br><br><br><br>
								<a href= "{% url "btn" %}"><button class="btn-xl"  type="submit"><i class="fa fa-microphone"></i></button></a>
								<br>
								<form class="" action="index.html" method="post">
									<br>
									<br>
									<input type="text" name="" placeholder="Enter the data here">
								</form>
							</div>

						</div>

					</div>
					</div>
				</div>
			</div>
		</div>
		<div id="2" class="main-wrapper">
			<div class="working-process-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div class="section-title text-center">
								<h2>About Krishi Kalyan Seva</h2>
								<p>It is a smart voice assistant that is able to understand the local
language of the farmer and answer his/her queries in his/her local language itself. The voice assistant
should be intelligent enough to support multiple Indian languages and make the conversation look more
like human interaction.
</p>
<p>Farmers will get answers for their queries related to type of crop that can be grown and the fertilizers to be used.
It also tells the correct price for the crop so that the farmer is not duped by the agent. It is also capable to calculate
 which crop can be grown in what area so as to maximise the profit."</p>
 <p>Krishi Kalyan Seva is able to predict the weather of the local region over the next week. It also tries to understand
  farmer's sentiments and provides helpline numbers if it realizes the farmer is in depression.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-wrapper">
			<!-- Start Feature Area -->
			<section id="3" class="featured-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div class="section-title text-center">
								<h2 class="text-white">Meet the team</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="single-feature">
								<div class="thumb" style="background: url(static/img/sid.jpg)";></div>
								<div class="desc text-center mt-30">
									<h4 class="text-white">Siddharth Pahuja</h4>
									<a href="https://github.com/sid-1998" class="primary-btn"><span>Github</span></a>
									<a href="https://www.linkedin.com/in/sidpahuja/" class="primary-btn"><span>LinkedIn</span></a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature">
								<div class="thumb" style="background: url(static/img/sanchita.jpg)";></div>
								<div class="desc text-center mt-30">
									<h4 class="text-white">Sanchita Gujral</h4>
									<a href="https://github.com/sanchitagujral98" class="primary-btn"><span>Github</span></a>
									<a href="https://www.linkedin.com/in/sanchitagujral98/" class="primary-btn"><span>LinkedIn</span></a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature">
								<div class="thumb" style="background: url(static/img/udit.jpg)";></div>
								<div class="desc text-center mt-30">
									<h4 class="text-white">Udit Kumar</h4>
									<a href="https://github.com/uditkumar13" class="primary-btn"><span>Github</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>



    <script type = "text/javascript" src = "{% static 'js/vendor/jquery-2.2.4.min.js' %}" ></script>
		<script type = "text/javascript" src = "{% static 'js/vendor/bootstrap.min.js' %}" ></script>
		<script type = "text/javascript" src = "{% static 'js/jquery.ajaxchimp.min.js' %}" ></script>
		<script type = "text/javascript" src = "{% static 'js/owl.carousel.min.js' %}" ></script>
		<script type = "text/javascript" src = "{% static 'js/vendor/jquery-2.2.4.min.js' %}" ></script>
		<script type = "text/javascript" src = "{% static 'js/jquery.nice-select.min.js' %}" ></script>
		<script type = "text/javascript" src = "{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
		<script type = "text/javascript" src = "{% static 'js/main.js' %}" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>





	</body>
</html>
